* {
  padding: 0px;
  margin: 0px;
}
.locator-main-component {
  display: flex;
  flex-direction: column;
}
.map-container {
  width: 100%;
}
.map {
  height: 600px;
  width: 100%;
}
.contact-form,
.store-locator-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-elements {
  border-radius: 5px;
  padding: 5%;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  margin: 20px 0px;
}

label {
  font-weight: bold;
  margin: 3px 0px;
}

input,
textarea {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  margin: 5px 0px;
  border: 1px solid gray;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0px 0px 5px rgba(0, 128, 0, 0.2);
}

button {
  background-color: white;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #007bff;
  color: white;
}
.alert {
  color: red;
  font-weight: bold;
  font-size: 10px;
}

.background-previewBox {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
}
.entries {
  background-color: white;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 80%;
  cursor: pointer;
}
.entry {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.close {
  font-size: 16px;
}
.store-locator-form-elements {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.store-locator-heading {
  font-size: 24px;
  padding-top: 20px;
}
select {
  padding: 13px;
  border: 1px solid rgb(44, 44, 44);
  font-size: 14px;
  cursor: pointer;
}
.stores {
  margin: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 90%;
}
.store-component {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}
.store-name {
  font-size: 20px;
  font-weight: 700;
}
.store-rating {
  font-size: 13px;
  margin: 50x;
  display: flex;
  align-items: center;
  gap: 6px;
}
.rating {
  color: rgb(250, 196, 49);
  font-size: 18px;
}
.store-address {
  font-size: 14px;
}
.state-city-select-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loader {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  form {
    width: 80%;
  }
  .entries {
    width: 60%;
  }
  .map-container {
    display: flex;
    justify-content: center;
  }
  .map {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .locator-main-component {
    flex-direction: row;
  }
  .store-locator-form {
    width: 50%;
  }
  .map-container {
    width: 50%;
  }
  .map {
    width: 100%;
    height: 100vh;
  }
  form {
    width: 60%;
  }
  .form-elements {
    width: 50%;
  }
  .state-city-select-input {
    flex-direction: row;
  }
  .state-city-select-input > select {
    flex-grow: 1;
    width: 50%;
  }
  .entries {
    width: 40%;
  }
  .stores {
    height: calc(80vh - 20px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .store-locator-form-elements {
    height: 20vh;
  }
  .store-component {
    margin: 0px 2px;
  }

  .stores::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  .stores::-webkit-scrollbar-thumb {
    background-color: #bebcbc;
    border-radius: 10px;
    border: 2px solid transparent;
  }
  .stores::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }

  .stores::-webkit-scrollbar-track {
    background: white;
  }
}

@media (min-width: 1024px) {
  form {
    width: 50%;
  }
  .entries {
    width: 40%;
  }
}
