* {
  padding: 0px;
  margin: 0px;
}
.locator-main-component {
  display: flex;
  flex-direction: column;
}
.map-container {
  width: 100%;
}
.map {
  height: 600px;
  width: 100%;
}
.contact-form,
.store-locator-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.form-elements {
  border-radius: 5px;
  padding: 5%;
  width: 95%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

label {
  font-weight: bold;
  margin: 3px 0px;
}

input,
textarea {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  margin: 5px 0px;
  border: 1px solid gray;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0px 0px 5px rgba(0, 128, 0, 0.2);
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.alert {
  color: red;
  font-weight: bold;
  font-size: 10px;
}

.background-previewBox {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
}
.entries {
  background-color: white;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 80%;
  cursor: pointer;
}
.entry {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.close {
  font-size: 16px;
}
.store-locator-form-elements {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.store-locator-heading {
  font-size: 24px;
}
select {
  padding: 13px;
  border: 1px solid rgb(44, 44, 44);
  font-size: 14px;
}
.stores {
  margin: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.store-component {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.store-name {
  font-size: 20px;
  font-weight: 700;
}
.store-rating {
  font-size: 13px;
  margin: 50x;
}
.rating {
  color: rgb(250, 196, 49);
  font-size: 18px;
}

@media (min-width: 640px) {
  form {
    width: 80%;
  }
  .entries {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .locator-main-component {
    flex-direction: row;
  }
  .store-locator-form {
    width: 50%;
  }
  .map-container {
    width: 50%;
  }
  .map {
    height: 100vh;
  }
  form {
    width: 60%;
  }
  .form-elements {
    width: 50%;
  }
  .entries {
    width: 40%;
  }
  .stores {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .stores::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  .stores::-webkit-scrollbar-thumb {
    background-color: #bebcbc;
    border-radius: 10px;
    border: 2px solid transparent;
  }
  .stores::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }

  .stores::-webkit-scrollbar-track {
    background: white;
  }
}

@media (min-width: 1024px) {
  form {
    width: 50%;
  }
  .entries {
    width: 40%;
  }
}
